.container {
    width: 500px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    padding: 2%;
  }

  form {
      background-color: lightgray;
      width: 100%;
      padding: 5%;
  }