html {
    border: 2px solid black;
    min-height: 100%;
    width: 100%;
}

body {
    border: 2px solid blue;
    min-height: 100%;
    /* width: 100%; */
    width: calc(100% - 20px);
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-row-gap: 20px;
}

.layer1 {
    border: 1px solid red;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
}

.box1 {
    grid-area: box1;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.img-container {
    border: 1px solid green;
    height: 75%;
    width: 60%;
    margin: 1em;
}

.content-container {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 50%;
    /* float: right; */
    margin-left: 40%;
    margin-bottom: 3%;

}

.box2 {
    grid-area: box2;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.layer2 {
    border: 1px solid red;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "layer2left layer2right"
}

.layer2left {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "box3"
}

.layer2right {
    border: 1px solid blue;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "box4 box5"
    "box6 box6";
}

.layer3 {
    border: 1px solid red;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box7 box8 box9 box10"
}





.box3 {
    grid-area: box3;
    border: 1px solid black;
}

.box4 {
    grid-area: box4;
    border: 1px solid black;
}

.box5 {
    grid-area: box5;
    border: 1px solid black;
}

.box6 {
    grid-area: box6;
    border: 1px solid black;
}

.box7 {
    grid-area: box7;
    border: 1px solid black;
}

.box8 {
    grid-area: box8;
    border: 1px solid black;
}

.box9 {
    grid-area: box9;
    border: 1px solid black;
}

.box10 {
    grid-area: box10;
    border: 1px solid black;
}
