
/**********************************************
*** GENERAL
**********************************************/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  height: 99%;
}

body {
display: flex;
justify-content: center;
border: 2px solid red;
height: 100%;
}

.container {
  width: 80%;
  display: flex;
  padding: 1%;
  overflow: hidden;
  border: 2px solid black;
}

.player-1-area,
.player-2-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10%;
  border: 2px solid orange;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 3%;
  margin-bottom: 5%;
  border: 2px solid blue;
}

.player-total-score {
  text-align: center;
  font-size: 5em;
  font-weight: 100;
  color: #EB4D4D;
  margin-bottom: 20%;
  border: 2px solid green;
}

.active { background-color: lightblue; }
.active .player-name { font-weight: 550; border: 2px solid yellow;}

.player-current-box {
  background-color: #EB4D4D;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 3%;
  text-align: center;
  border: 2px solid purple;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10%;
  font-size: .9em;
  font-weight: 550;
  color: #222;
  border: 2px solid aqua;
}

.player-current-score {
  font-size: 2em;
  border: 2px solid tan;
}

button {
  width: 40%;
  color: #555;
  background: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid black;
}

button:hover { font-weight: 600; }

button:focus {
  outline: none;
}

.btn-new {top: 7%; left: 40%; position: absolute; width: 20%;}
.btn-roll { margin: 5% auto;}

.dice1, .dice2 {
  position: absolute;
  height: 13%;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
  top: 40%;
  border: 1px solid black;
}
.dice1 {
 left: 40%;
}

.dice2 {
  left: 53%;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 550; color: #EB4D4D; }
.winningScore {
  position: absolute;
  top: 13%;
  left: 44%;
  border: 2px solid blue;
} 